[global]
databases = p3
tables = *
import_max_allowed_packet = 268435456
import_net_buffer_length = 65536

[source]
db_host = 161.189.137.xxx
db_port = 3306
db_user = cdc_user
db_pass = xxxx
#db_user = admin
#db_pass = lSKC.zGzl^RhLTqw

[target]
db_host = 118.145.88.xxx
db_port = 3306
db_user = root
db_pass = root
